<div class="content">
    <div class="textArea-block">
        <div class="raw fieldBlock">
            <p>Raw Json</p>
            <textarea id="rawJson" cols="30" rows="20" [(ngModel)]="rawJson"></textarea>
        </div>
        <div class="formatted fieldBlock">
            <p>Formatted JSON</p>
            <textarea id="formatedJson" cols="30" rows="20" [(ngModel)]="formatedJson" readonly></textarea>
        </div>
    </div>
    <div class="btn-block">
        <button (click)="formatJson()">Format</button>
        <button (click)="clearAll()">Clear All</button>
    </div>
</div>