.textArea-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    .fieldBlock {
        width: 48%;
        textarea {
            width: 99%;
        }
        p {
            text-align: center;
            font-weight: bold;
            color: #282c34;
            font-size: 20px;
        }
    }
}
.btn-block {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
        background-color: #282c34;
        color: white;
        padding: 10px 40px;
        font-size: 16px;
        cursor: pointer;
    }
    button + button {
        margin-left: 10px;
    }
}